.NavBarContainer {
  height: 90px;
  width: 100%;
  background-color: rgba(11, 17, 32, 0.25);
  padding: 10px 4%;
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  position: fixed;
  box-shadow: 0 1px 1px rgba(197, 196, 196, 0.1);
}
.logoText {
  display: flex;
  align-items: center;
  height: 100%;
}

.Achar,
.dot {
  color: #07b6d5;
}

.linksList {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactBtn {
  margin-left: 30px;
}


