.NavBarContainer {
  height: 60px;
  width: 100%;
  background-color: #3d3d3f;
  padding: 10px 4%;
  display: flex;
  align-items: center;
}
.logoText {
  display: flex;
  align-items: center;
  height: 100%;
}

.Achar,
.dot {
  color: hsl(189, 94%, 43%);
}

.linksList {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactBtn {
  margin-left: 30px;
}
