.services {
  padding: 5em 0;
}

.topCont {
  text-align: center;
  margin-bottom: 2em;
}

.topCont p {
  font-family: quicksand, sans-serif;
  color: #07b6d5;
  font-weight: 600;
}

.cardCont {
  display: flex;
  justify-content: center;
  gap: 4em;

  padding: 2em;
  flex-direction: row;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  text-align: start;
  width: 360px;
  background-color: #151e32;
  padding: 2em 2em;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.serviceCard h3 {
  margin-bottom: 1em;
}

.serviceCard p {
  font-family: quicksand, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #9ca3af;
}

.serviceCard:hover {
  border: #07b6d5 1px solid;
  backdrop-filter: blur(5px);
  translate: 0 -10px;
  transition: all 0.4s ease-in-out;
}

.serviceCard:hover h3 {
  color: #07b6d5;
}

.serviceCard:hover .logo {
  background-color: #07b6d5;
}

.serviceCard:hover .figmaIcon,
.serviceCard:hover .browserIcon,
.serviceCard:hover .paletteIcon {
  color: #142e43;
}

.logo {
  padding: 4%;
  background-color: #142e43;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.figmaIcon,
.browserIcon,
.paletteIcon {
  width: 30px;
  height: 30px;
  color: #07b6d5;
}
